* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: serif;

 background-image: linear-gradient(to right, #00ff10, #65ff00, #8eff00, #aeff00, #c9ff00, #c9ff00, #c9ff00, #c9ff00, #aeff00, #8eff00, #64ff00, #00ff17);

min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;

}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #333;
}